<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.couchgram.gamebooster">


    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.android.launcher.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="com.android.launcher3.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.android.launcher3.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="18"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name = "android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.ANSWER_PHONE"/>

    <application
        android:name=".GameBoostApp"
        android:allowBackup="false"
        android:allowClearUserData="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup,android:icon,android:theme,android:label,android:allowClearUserData,android:hardwareAccelerated,android:largeHeap,android:supportsRtl">

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="b56608c238de28bbed2e7d227bca633b52d3e77f" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />

        <!-- FCM Meta data-->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher"/>
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/noti_icon_bg"/>

        <!-- FCM Service-->
        <service android:name=".push.FCMInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <service android:name=".push.FCMMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <activity android:name=".ui.splash.SplashActivity"
            android:excludeFromRecents="true"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.boostapp.BoostAppListActivity"
            android:launchMode="singleTask"
            android:excludeFromRecents="true"/>
        <activity android:name=".ui.installedapp.InstalledAppListActivity"
            android:excludeFromRecents="true"/>
        <activity
            android:name=".ui.shortcut.GameBoxShortcutActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:taskAffinity="com.couchgram.gamebooster.gamebox.shortcut"
            android:theme="@style/gamebox_dialog">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.couchgram.gamebooster.launch_gamebox"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- ironSource-->
        <activity
            android:name="com.ironsource.sdk.controller.ControllerActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="true" />
        <activity
            android:name="com.ironsource.sdk.controller.InterstitialActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="true"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name="com.ironsource.sdk.controller.OpenUrlActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="true"
            android:theme="@android:style/Theme.Translucent" />

        <!-- vungle -->
        <activity android:name="com.vungle.publisher.VideoFullScreenAdActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize"
            android:excludeFromRecents="true"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        <activity android:name="com.vungle.publisher.MraidFullScreenAdActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize"
            android:excludeFromRecents="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"/>
        <!-- UnityAds-->
        <activity
            android:name="com.unity3d.ads.adunit.AdUnitActivity"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode|touchscreen"
            android:hardwareAccelerated="true"
            android:excludeFromRecents="true"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name="com.unity3d.ads.adunit.AdUnitSoftwareActivity"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode|touchscreen"
            android:hardwareAccelerated="false"
            android:excludeFromRecents="true"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <!-- AppLovin-->
        <activity
            android:excludeFromRecents="true"
            android:name="com.applovin.adview.AppLovinInterstitialActivity"/>
        <activity
            android:excludeFromRecents="true"
            android:name="com.applovin.adview.AppLovinConfirmationActivity"/>

        <!-- Mopup-->
        <activity
            android:name="com.mopub.common.MoPubBrowser"
            android:excludeFromRecents="true"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity
            android:name="com.mopub.mobileads.MraidVideoPlayerActivity"
            android:excludeFromRecents="true"
            android:configChanges="keyboardHidden|orientation|screenSize"/>

        <activity android:name=".ui.ads.RewardvideoActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode|screenLayout"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/transparent"/>
        <activity android:name=".ui.widget.dialog.ConfirmDialogActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/transparent"/>
        <service android:name=".service.BoostService">
            <intent-filter>
                <action android:name="com.couchgram.gamebooster.exit_boost_service" />
                <action android:name="com.couchgram.gamebooster.check_destory" />
            </intent-filter>
        </service>
        <service android:name=".service.MonitorAccessibilityService"  android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService"/>
            </intent-filter>
            <meta-data android:name="android.accessibilityservice" android:resource="@xml/accessibility"/>
        </service>
        <service
            android:name=".service.MonitorNotificationService"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE" >
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
        <activity android:name=".ui.setting.SettingActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity
            android:name="com.mobvista.msdk.shell.MVActivity"
            android:configChanges="keyboard|orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.ads.BoostAnimActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode|screenLayout"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/transparent"/>
    </application>

</manifest>